* {
  font-family: 'Roboto';
}

:root {
  --razerGreen: #44d62c;
}

body {
  background-color: black;
}


/* Home Page */


#links {
  font-size: 35px;
  margin-right: 20px;
  transition: text-decoration 0.5s;
  display: flex;
  justify-content: center;
}

#links:hover {
  text-decoration: underline;
  text-decoration-color: var(--razerGreen);
  text-decoration-thickness: 3px;
}


a {
  font-family: "DM Serif Display";

}

#back-image {
  background-image: url(https://i.postimg.cc/VNr6fktn/904943.png);
  background-size: cover;
}

img {
  margin-top: 50px;
}



.homeImage {
  margin-top: 70px;

}

.fProducts {
  display: flex;
  justify-content: center;
}

/* .home-button{
    margin-bottom: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 60px;
    font-family: "Roboto";
    font-size: 20px;
    background-color: var(--razerGreen);
    border-color: black;
    border-radius: 50px;
    color: black;
    transition: border-color 0.5s, background-color 0.5s, color 0.5s;
    font-weight: bold;
  }
  
  .home-button:hover{
    background-color: black;
    color: var(--razerGreen);
    border-color: white;
  
  } */

/* .home-button:active{
    box-shadow: 0 5px #666;
  transform: translatex(4px);
  }
   */

/* .home-logo{
    width: 150px;
    height: 100px;
   }
   */
#footer {
  color: black;
  font-weight: bolder;
  text-align: center;
  background-color: var(--razerGreen);
}

.footer-prob {
  position: sticky;
  position: fixed;
  bottom: 0;
  width: 100%;
}


/* Product Page */


.products-head {
  background-color: black;
  color: white;
  border: 5px solid var(--razerGreen);
  border-radius: 50px;
  font-family: "Roboto";
  font-size: 50px;
  text-align: center;
  margin-bottom: 60px;
}

#products-add-cart-button {
  width: 120px;
  height: 50px;
  color: black;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: bold;
  background-color: var(--razerGreen);
  border: solid 3px black;
  border-radius: 50px;
  cursor: pointer;
  transition: border-color 0.5s, background-color 0.5s, color 0.5s;
}

#products-add-cart-button:hover {
  background-color: black;
  color: var(--razerGreen);
  border-color: white;

}

#products-add-cart-button:active {
  box-shadow: 0 5px #666;
  transform: translatex(4px);
}

#product-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;

}

#products-search-button {
  width: 150px;
  height: 50px;
  color: black;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: bold;
  background-color: var(--razerGreen);
  border: solid 3px black;
  border-radius: 50px;
  cursor: pointer;
  transition: border-color 0.5s, background-color 0.5s, color 0.5s;
}

#products-search-button:hover {
  background-color: black;
  color: var(--razerGreen);
  border-color: white;
}

#products-search-button:active {
  box-shadow: 0 5px #666;
  transform: translatex(4px);
}

#products-sort-button {
  width: 150px;
  height: 50px;
  color: black;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: bold;
  background-color: var(--razerGreen);
  border: solid 3px black;
  border-radius: 50px;
  cursor: pointer;
  transition: border-color 0.5s, background-color 0.5s, color 0.5s;
}

#products-sort-button:hover {
  background-color: black;
  color: var(--razerGreen);
  border-color: white;
}

#products-sort-button:active {
  box-shadow: 0 5px #666;
  transform: translatex(4px);
}

.card {
  background-color: var(--razerGreen);
}

/* Checkout Page */

#checkout-button {
  width: 150px;
  height: 50px;

  font-family: "Roboto";
  font-size: 18px;
  font-weight: bold;

  border-radius: 50px;
  cursor: pointer;
  transition: border-color 0.5s, background-color 0.5s, color 0.5s;
}

#checkout-button:hover {
  background-color: black;
  color: white;
}

#checkout-button:active {
  box-shadow: 0 5px #666;
  transform: translatex(4px);
}

#clear-button {
  width: 150px;
  height: 50px;

  font-family: "Roboto";
  font-size: 18px;
  font-weight: bold;

  border-radius: 50px;
  cursor: pointer;
  transition: border-color 0.5s, background-color 0.5s, color 0.5s;
}

#clear-button:hover {
  background-color: white;
  color: black;
}

#clear-button:active {
  box-shadow: 0 5px #666;
  transform: translatex(4px);
}


#cart-total {
  width: 300px;
  height: 30px;
}

#total {
  color: var(--razerGreen);
  margin-top: 8px;
  margin-right: 10px;
  font-weight: bold;
}


/* About Page */

.about-head {
  background-color: black;
  color: white;
  border: 5px solid var(--razerGreen);
  border-radius: 50px;
  font-family: "Roboto";
  font-size: 50px;
  text-align: center;
}

.about-title {
  color: var(--razerGreen);
  text-align: center;
  margin-top: 30px;
}

.razer-banner {
  width: 100%;
  height: 100%;
  margin-bottom: 10px;

}

.razer-banner-div {
  display: flex;
  justify-content: center;
}

.about-body {
  text-align: center;
  color: white;
  margin-top: 20px;
  font-size: 28px;
}





/* Contact Page */

.contact-container {
  border-radius: 5px;
  background-color: black;
  padding: 10px;
}

.contact-div {
  margin-bottom: 50px;

}

.contact-head {
  background-color: black;
  color: white;
  border: 5px solid var(--razerGreen);
  border-radius: 50px;
  font-family: "DM Serif Display";
  font-size: 50px;
}


.contactForm-div {
  width: 400px;
  margin: auto;

}

label {
  font-family: "Roboto";
  font-size: 22px;
  color: var(--razerGreen);
}

input[type=text],
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  width: 120px;
  height: 45px;
  margin-right: 5px;
  font-family: "Roboto";
  font-size: 22px;
  font-weight: bold;
  background-color: var(--razerGreen);
  border: solid 3px black;
  border-radius: 50px;
  cursor: pointer;
  transition: border-color 0.5s, background-color 0.5s, color 0.5s;
}

input[type=submit]:hover {
  background-color: black;
  color: var(--razerGreen);
  border-color: white;
}

input[type=submit]:active {
  box-shadow: 0 5px #666;
  transform: translatex(4px);
}

.icons {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;

}


.instagram-div {
  margin-right: 30px;
}


/* Admin */

.admin-head {

  background-color: black;
  color: white;
  border: 5px solid var(--razerGreen);
  border-radius: 50px;
  font-family: "Roboto";
  font-size: 50px;
  text-align: center;
}

#admin-add-button {
  width: 100px;
  height: 45px;
  color: black;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: bold;
  background-color: var(--razerGreen);
  border: solid 3px black;
  border-radius: 50px;
  cursor: pointer;
  transition: border-color 0.5s, background-color 0.5s, color 0.5s;
}

#admin-add-button:hover {
  background-color: black;
  color: var(--razerGreen);
  border-color: white;
}

#admin-add-button:active {
  box-shadow: 0 5px #666;
  transform: translatex(4px);
}

#admin-sort-button {
  width: 100px;
  height: 45px;
  color: black;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: bold;
  background-color: var(--razerGreen);
  border: solid 3px black;
  border-radius: 50px;
  cursor: pointer;
  transition: border-color 0.5s, background-color 0.5s, color 0.5s;
}

#admin-sort-button:hover {
  background-color: black;
  color: var(--razerGreen);
  border-color: white;
}

#admin-sort-button:active {
  box-shadow: 0 5px #666;
  transform: translatex(4px);
}


#admin-edit-button {
  width: 100px;
  height: 40px;
  color: black;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: bold;
  background-color: var(--razerGreen);
  border: solid 3px black;
  border-radius: 50px;
  cursor: pointer;
  transition: border-color 0.5s, background-color 0.5s, color 0.5s;
}

#admin-edit-button:hover {
  background-color: black;
  color: var(--razerGreen);
  border-color: white;
}

#admin-edit-button:active {
  box-shadow: 0 5px #666;
  transform: translatex(4px);
}

#admin-del-button {
  width: 100px;
  height: 40px;
  margin-right: 5px;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: bold;
  background-color: var(--razerGreen);
  border: solid 3px black;
  border-radius: 50px;
  cursor: pointer;
  transition: border-color 0.5s, background-color 0.5s, color 0.5s;
}

#admin-del-button:hover {
  background-color: black;
  color: var(--razerGreen);
  border-color: white;
}

#admin-del-button:active {
  box-shadow: 0 5px #666;
  transform: translatex(4px);
}

#modal-i {
  color: var(--razerGreen);
  margin-top: 10px;
}

#modal-pn {
  color: var(--razerGreen);
  margin-top: 10px;
}


#modal-d {
  color: var(--razerGreen);
  margin-top: 10px;
}

#modal-p {
  color: var(--razerGreen);
  margin-top: 10px;
}


#admin-button-save {
  width: 100px;
  height: 45px;
  color: black;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: bold;
  background-color: var(--razerGreen);
  border: solid 3px black;
  border-radius: 50px;
  cursor: pointer;
  transition: border-color 0.5s, background-color 0.5s, color 0.5s;
}

#admin-button-save:hover {
  background-color: black;
  color: var(--razerGreen);
  border-color: white;
}

#admin-button-save:active {
  box-shadow: 0 5px #666;
  transform: translatex(4px);
}

#admin-button-close {
  width: 100px;
  height: 45px;
  color: black;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: bold;
  background-color: var(--razerGreen);
  border: solid 3px black;
  border-radius: 50px;
  cursor: pointer;
  transition: border-color 0.5s, background-color 0.5s, color 0.5s;
}

#admin-button-close:hover {
  background-color: black;
  color: var(--razerGreen);
  border-color: white;
}

#admin-button-close:active {
  box-shadow: 0 5px #666;
  transform: translatex(4px);
}

#url {
  height: 30px;
}

#pName {
  height: 30px;
}

#des {
  height: 30px;
}

#price {
  height: 30px;
}



/* Home Page */

@media (max-width: 300px) {
  body {
    font-size: 14px;
  }

  .navbar {
    padding: 5px;
  }

  #back-image {
    background-image: cover;
  }

  #footer {
    font-size: 14px;
  }

  #links {
    font-size: 18px;
    margin-right: 10px;
  }

  a {
    font-size: 18px;
  }

  img {
    margin-top: 30px;
  }

  .homeImage {
    margin-top: 50px;
  }
}



@media (max-width: 720px) {
  body {
    font-size: 16px;
  }

  .back-image {
    background-image: cover;
  }

  .navbar {
    padding: 10px;
  }

  #footer {
    margin-top: 20px;
    font-size: 14px;
  }
}


@media (max-width: 1080px) {
  body {
    font-size: 18px;
  }

  .back-image {
    background-image: cover;
  }

  .navbar {
    padding: 15px;
  }

  #footer {
    margin-top: 30px;
    font-size: 14px;
  }
}


/* Checkout Page */

@media (max-width: 300px) {
  body {
    font-size: 14px;
  }

  .container-fluid {
    max-width: 100%;
    padding: 5px;
  }

  #checkout-button {
    width: 100%;
    margin-top: 10px
  }

  #clear-button {
    width: 100%;
    margin-top: 10px;
  }

  #cart-total {
    width: 100%;
    margin-top: 10px;
  }

  #total {
    width: 100%;
    margin-top: 10px;
  }

}


@media (max-width: 720px) {
  body {
    font-size: 16px;
  }

  .container-fluid {
    max-width: 100%;
    padding: 10px;
  }

  #cart-total {
    width: 100%;
    margin-top: 10px;
    font-size: 16px;
  }

  #total {
    width: 100%;
    margin-top: 10px;
    font-size: 16px;
  }

}

@media (max-width: 1080px) {
  body {
    font-size: 18px;
  }

  .container-fluid {
    max-width: 100%;
    padding: 10px;
  }

  #cart-total {
    width: 100%;
    margin-top: 10px;
    font-size: 18px;
  }

  #total {
    width: 100%;
    margin-top: 10px;
    font-size: 18px;
  }

}


/* Contact Page */

@media (max-width: 300px) {

  body {
    flex-wrap: wrap;
  }


  .navbar {
    padding: 5px;
  }

  .home-logo {
    max-width: 100%;
  }

  .contact-head {
    font-size: 30px;
  }

  .contactForm-div {
    width: 90%;
    margin: auto;
  }

  label {
    font-size: 14px;
  }

  input[type=text] {
    width: 100%;
    font-size: 12px;
    margin-top: 6px;
    margin-bottom: 10px;
  }

  textarea {
    width: 100%;
    font-size: 12px;
    margin-top: 6px;
    margin-bottom: 10px;
  }

  input[type=submit] {
    width: auto;
    height: auto;
    font-size: 14px;
  }



  .fa-brands {
    margin-bottom: 10px;
  }

  #footer {
    margin-top: 10px;
    font-size: 14px;
  }
}


@media (max-width: 720px) {

  body {
    flex-wrap: wrap;
  }

  .contactForm-div {
    width: 90%;
    margin: auto;
  }

  label {
    font-size: 18px;
  }

  input[type=text] {
    width: 100%;
    font-size: 16px;
    margin-top: 8px;
    margin-bottom: 12px;
  }

  textarea {
    width: 100%;
    font-size: 16px;
    margin-top: 8px;
    margin-bottom: 12px;
  }

  input[type=submit] {
    width: 100%;
    height: 45px;
    font-size: 18px;
  }
}


@media (max-width: 1080px) {
  .contactForm-div {
    width: 80%;
    margin: auto;
  }

  label {
    font-size: 22px;
  }

  input[type=text] {
    width: 100%;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 16px;
  }

  textarea {
    width: 100%;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 16px;
  }

  input[type=submit] {
    width: 100%;
    height: 50px;
    font-size: 22px;
  }
}


/* Admin Page */

@media (max-width: 300px) {

  body {
    font-size: 12px;
  }

  .admin-head {
    font-size: 24px;
  }


  #admin-sort-button {
    width: 100%;
    margin-bottom: 10px;
  }

  #admin-add-button {
    width: 100%;
    margin-bottom: 10px;
  }


  .table-responsive {
    overflow-x: auto;
  }

}


@media (max-width: 720px) {

  body {
    font-size: 14px;
  }

  .admin-head {
    font-size: 36px;
  }

  #admin-sort-button {
    width: 100%;
    margin-bottom: 10px;
  }

  #admin-add-button {
    width: 100%;
    margin-bottom: 10px;
  }


  .table-responsive {
    overflow-x: auto;
  }

}


@media (max-width: 1080px) {

  body {
    font-size: 18px;
  }

  .admin-head {
    font-size: 50px;
  }

  .table-responsive {
    overflow-x: auto;
  }

  #admin-add-button {
    width: 100%;
    margin-bottom: 10px;
  }

  #admin-sort-button {
    width: 100%;
    margin-bottom: 10px;
  }

}