*{
    font-family: 'Roboto';
  }
  
  :root{
    --razerGreen: #44d62c;
  }
  body{
    background-color: black;
  }
  

  /* Home Page */
  
  ul{
    color: white;
  }
  
  li{
    font-size: 35px;
    margin-right: 20px;
    transition: text-decoration 0.5s;
  }
  
  li:hover{
    text-decoration: underline;
    text-decoration-color: var(--razerGreen);
    text-decoration-thickness: 3px;
  }
  
  
  a{
    font-family: "DM Serif Display";
    
  }

#back-image{
  background-image: url(https://i.postimg.cc/VNr6fktn/904943.png);
  background-size: cover;
}

  img{
    margin-top: 50px;
  }
  


  .homeImage{
    margin-top: 70px;
    
  }

  .fProducts{
    display: flex;
    justify-content: center;
  }

  .home-button{
    margin-bottom: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 60px;
    font-family: "Roboto";
    font-size: 20px;
    background-color: var(--razerGreen);
    border-color: black;
    border-radius: 50px;
    color: black;
    transition: border-color 0.5s, background-color 0.5s, color 0.5s;
    font-weight: bold;
  }
  
  .home-button:hover{
    background-color: black;
    color: var(--razerGreen);
    border-color: white;
  
  }
  
  
  #footer{
    color: var(--razerGreen);
    text-align: center;
  } 
  
  .footer-prob{
    position: sticky;
    position: fixed;
    bottom: 0;
    width: 100%;
  }


  /* Product Page */


  .products-head{
    background-color: black;
    color: white;
    border: 5px solid var(--razerGreen);
    border-radius: 50px;
    font-family: "Roboto";
    font-size: 50px;
    text-align: center;
    margin-bottom: 60px;
  }

  #products-add-cart-button{
  width: 120px;
  height: 50px;
  color: black;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: bold;
  background-color: var(--razerGreen);
  border: solid 3px black;
  border-radius: 50px;
  cursor: pointer;
  transition: border-color 0.5s, background-color 0.5s, color 0.5s;
  }
 
  #products-add-cart-button:hover{
    background-color: black;
  color: var(--razerGreen);
  border-color: white;
  }

  #product-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }


  #products-search-button{
    width: 150px;
    height: 50px;
    color: black;
    font-family: "Roboto";
    font-size: 18px;
    font-weight: bold;
    background-color: var(--razerGreen);
    border: solid 3px black;
    border-radius: 50px;
    cursor: pointer;
    transition: border-color 0.5s, background-color 0.5s, color 0.5s;
  }

  #products-search-button:hover{
    background-color: black;
    color: var(--razerGreen);
    border-color: white;
  }

  #products-sort-button{
    width: 150px;
    height: 50px;
    color: black;
    font-family: "Roboto";
    font-size: 18px;
    font-weight: bold;
    background-color: var(--razerGreen);
    border: solid 3px black;
    border-radius: 50px;
    cursor: pointer;
    transition: border-color 0.5s, background-color 0.5s, color 0.5s;
  }

  #products-sort-button:hover{
    background-color: black;
    color: var(--razerGreen);
    border-color: white;
  }


.card{
  background-color: var(--razerGreen);
}



  /* About Page */

  .about-head{
    background-color: black;
    color: white;
    border: 5px solid var(--razerGreen);
    border-radius: 50px;
    font-family: "Roboto";
    font-size: 50px;
    text-align: center;
  }

  .about-title{
    color:var(--razerGreen);
    text-align: center;
    margin-top: 30px;
}

.razer-banner{
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
  
}

.razer-banner-div{
  display: flex;
  justify-content: center;
}

.about-body{
    text-align: center;
    color: white;
    margin-top: 20px;
    font-size: 28px;
}


 /* Admin */

 .admin-head{

    background-color: black;
    color: white;
    border: 5px solid var(--razerGreen);
    border-radius: 50px;
    font-family: "Roboto";
    font-size: 50px;
    text-align: center;
  }
 
  #admin-add-button{
    width: 100px;
    height: 40px;
    color: black;
    font-family: "Roboto";
    font-size: 18px;
    font-weight: bold;
    background-color: var(--razerGreen);
    border: solid 3px black;
    border-radius: 50px;
    cursor: pointer;
    transition: border-color 0.5s, background-color 0.5s, color 0.5s;
   }
  
   #admin-add-button:hover{
    background-color: black;
    color: var(--razerGreen);
    border-color: white;
   }


 #admin-edit-button{
  width: 100px;
  height: 40px;
  color: black;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: bold;
  background-color: var(--razerGreen);
  border: solid 3px black;
  border-radius: 50px;
  cursor: pointer;
  transition: border-color 0.5s, background-color 0.5s, color 0.5s;
 }

 #admin-edit-button:hover{
  background-color: black;
  color: var(--razerGreen);
  border-color: white;
 }

 
 #admin-del-button{
  width: 100px;
  height: 40px;
  margin-right: 5px;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: bold;
  background-color: var(--razerGreen);
  border: solid 3px black;
  border-radius: 50px;
  cursor: pointer;
  transition: border-color 0.5s, background-color 0.5s, color 0.5s;
 }

 #admin-del-button:hover{
  background-color: black;
  color: var(--razerGreen);
  border-color: white;
 }




/* Contact Page */

.contact-container {
  border-radius: 5px;
  background-color: black;
  padding: 10px;
} 

.contact-div{
  margin-bottom: 50px;
  
}

.contact-head{
  background-color: black;
  color: white;
  border: 5px solid var(--razerGreen);
  border-radius: 50px;
  font-family: "DM Serif Display";
  font-size: 50px;
}


.contactForm-div{
  width: 400px;
  margin: auto;
  
}

label{
  font-family: "Roboto";
  font-size: 22px;
  color: var(--razerGreen);
}

input[type=text], textarea {
width: 100%;
padding: 12px;
border: 1px solid #ccc;
margin-top: 6px;
margin-bottom: 16px;
resize: vertical;
}

input[type=submit] {
width: 120px;
height: 45px;
margin-right: 5px;
font-family: "Roboto";
font-size: 22px;
font-weight: bold;
background-color: var(--razerGreen);
border-color: black;
border-radius: 50px;
cursor: pointer;
transition: border-color 0.5s, background-color 0.5s, color 0.5s;
}

input[type=submit]:hover {
background-color: black;
color: var(--razerGreen);
border-color: white;
}


.icons{
display: flex;
justify-content: center;
margin-top: 30px;
margin-bottom: 30px;

}

.linkedin-div{
margin-right: 30px;
}

.github-div{
margin-right: 30px;
}

.whatsapp-div{
margin-right: 30px;
}

.instagram-div{
margin-right: 30px;
}